body{
    margin: 0%;
    padding: 55px 94px;
    background-color: black;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Inter';
    font-size: 34px;
    font-weight: 700;
    
}
    header img{
        margin-bottom: 15px;

    }
    header a{
    
        text-decoration-line: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;

        margin-top: 10px;
        

    }

main{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

    color: #FFFFFF;
}
    main h2{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 0px;

    color: #FFFFFF;
    }


form{
    display: flex;
    flex-direction: column;
}
    
.caixa input{
    background: #7F7F7F;
    border-radius: 25px;
    width: 600px;  

    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 0;
    margin-top: 10px;
}
.caixa{
    margin-top: 18px;
    margin-bottom: 18px;

}
.cta{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-self: center;

    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    
       
}
.cta input{
    background: #8C77E0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    
    text-align: center;

    
    padding: 6px 15px;
    width: 214px;
    height: 55px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 33px;

    color: #FFFFFF;  
    cursor: pointer;
    
}

button{
    color: white;

    background: #8C77E0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 404.5px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;
    padding: 8px 17px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 33px;
    

}
   

    